profile = ocamlformat
break-cases = fit-or-vertical
break-sequences = true
break-separators = after
cases-exp-indent = 2
field-space = loose
if-then-else = keyword-first
let-and = sparse
let-module = sparse
line-endings = lf
module-item-spacing = sparse
margin = 60
sequence-style = separator
single-case = compact
space-around-lists = true
space-around-records = true
wrap-comments = true
